:root {
    --headingFont: 'Roboto',
        sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;


}

/* header * {
    background-color: aqua;
} */

header div:first-child {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 6px;
    padding: 0.4rem 0.8rem;
    background-color: #e6e3e3;

}

header div i {
    color: #757575;
}

header div input {
    width: 200px;
    margin-left: 6px;
    border: none;
    background-color: #e6e3e3;
    color: #757575;
}

header h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: var(--headingFont);
}

header h1 span {
    font-weight: 100;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav * {
    margin-right: 1rem;
}

nav button:first-child {
    background-color: rgb(179, 38, 38);
    color: #fff;
}

nav button:last-child {
    background-color: #a7a7a7;
}

button {
    font-family: var(--headingFont);
    padding: 8px 15px;
    border-radius: 25px;
    border: none;
}

nav i {
    border-radius: 50px;
    padding: 0 5px;
    border: 1px solid #a7a7a7;
}

header div:last-child {
    grid-column: 1/-1;
    height: 0.5px;
    background-color: #dadada;

}