:root {
    --primaryFont: 'Roboto',
        sans-serif;
    --secondaryFont: 'Source Sans Pro',
        sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
}



h1,
h2,
h3,
h5,
h6,
em,
p,
a {
    font-family: var(--primaryFont);
}

h4,
li {
    font-family: var(--secondaryFont);
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;


}

header div:first-child {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 6px;
    padding: 0.4rem 0.8rem;
    background-color: #e6e3e3;

}

header div i {
    color: #757575;
}

header div input {
    width: 200px;
    margin-left: 6px;
    border: none;
    background-color: #e6e3e3;
    color: #757575;
}

header h1 {
    text-transform: uppercase;
    text-align: center;
}

header h1 span {
    font-weight: 100;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav * {
    margin-right: 1rem;
}

nav button:first-child {
    background-color: rgb(179, 38, 38);
    color: #fff;
}

nav button:first-child:hover {
    background-color: rgb(243, 88, 88);
}

nav button:last-child {
    background-color: #a7a7a7;
}

button {
    font-family: var(--primaryFont);
    padding: 6px 15px;
    border-radius: 25px;
    border: none;
}

button:hover:not(.btn-directions button),
.btn-directions:hover:not(.btn-directions button) {
    transform: scale(1.1);
    box-shadow: 1px 2px #888888;
}

nav i {
    border-radius: 50px;
    padding: 0 5px;
    border: 1px solid #a7a7a7;
}

header div:last-child {
    grid-column: 1/-1;
    height: 0.5px;
    background-color: #dadada;

}

/* article */
article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1rem;
}

article * {
    grid-column: 2/3;
    text-align: center;
}

article img {
    display: block;
    margin: 0 auto;
}

article h2 {
    font-weight: 400;
}

article .vegan {
    text-transform: uppercase;
    font-family: var(--primaryFont);
    color: #a7a7a7;
    font-size: 0.8rem;
    margin-bottom: 2rem;
}

.divider {
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    padding: 0 3rem;
}

article section:first-of-type {
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
}

article section div em {
    font-size: 2rem;
    font-family: var(--primaryFont);
    font-style: normal;
}

section div img {
    width: 3.5rem;
}

section div p:last-child:not(img+p) {
    font-weight: 100;
}

article section+div {
    height: 1px;
    background-color: #dadada;
    margin-top: 1.4rem;
}

/* article section:last-child div */
.ingredients {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

article section:last-child div:last-child {
    justify-content: start;
}

article h3 {
    font-size: 1rem;
}

article section div span {
    background-color: #e6e3e3;
    color: #757575;
    padding: 4px 8px;
    border-radius: 25px;
    font-family: var(--primaryFont);
    font-size: 0.8rem;
}

article ul {
    margin-top: -0.5rem;
}

article ul li {
    text-align: start;
    line-height: 1.5rem;
    font-weight: 300;
}

article ul li::first-letter,
article ul li span {
    font-weight: 400;
}

.btns {
    display: flex;
}

article button:last-child:not(aside+button) {
    background-color: rgb(179, 38, 38);
    color: #fff;
    margin-left: 0.6rem;
}

article button:last-child:not(aside+button):hover {
    color: rgb(255, 50, 50);
    background-color: rgb(238, 231, 231);
}

.btn-directions {
    display: flex;
    align-items: center;
    border-radius: 25px;
    background-color: rgb(239, 239, 239);
    padding-left: 1rem;
}

.btn-directions button {
    padding-left: 5px;
}

aside * {
    width: 10px;
    height: 2px;
    background-color: black;
    margin: 2px 0;
}

/* main */
main {
    margin-right: 1rem;
    margin-left: 1rem;
}

main h3 {
    text-align: center;
    grid-column: 1/-1;
}

main div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    grid-column: 1/-1;
}

main div a {
    text-transform: uppercase;
    color: #a7a7a7;
    font-size: 0.8rem;
}

.grid-auto-fit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.container-overlay {
    position: relative;
}

.container-overlay img {
    display: block;
    width: 100%;
    height: auto;
}


.grid-auto-fit section h4 {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1rem;
    font-weight: 400;
    margin: 0;

}

.recipe-details {
    display: flex;
    justify-content: space-between;
}

.recipe-details ul {
    margin: 0;
    padding: 5px;
    font-size: 0.8rem;
}

.recipe-details ul:last-child {
    text-align: end;
}

.recipe-details ul li:first-child {
    font-weight: 600;
}

.recipe-details ul li:last-child {
    color: #757575;
}

.am-special {
    background-color: rgb(241, 241, 241);
    padding: 2px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(196, 194, 194);
}

/* footer */
footer {
    background-color: rgb(241, 241, 241);
    font-weight: 300;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 0.8rem;
    margin-top: 5rem;
}

footer div:first-child {
    grid-column: 1/3;
    margin: 0 auto;
}

footer div img {
    margin-top: 2rem;
}

footer ul li:first-child {
    text-transform: uppercase;
    font-weight: 600;
}

footer ul {
    padding: 2rem 0;
}

footer li {
    line-height: 2rem;
    font-weight: 400;
}

footer .line {
    grid-column: 2/6;
    height: 1px;
    background-color: #dadada;
}

footer p:last-child {
    text-align: center;
    grid-column: 1/-1;
    font-weight: 400;
    padding-bottom: 1.4rem;
}