:root {
    --headingFont: 'Roboto',
        sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
em,
p,
li {
    font-family: var(--headingFont);
}

p {
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;


}

header div:first-child {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 6px;
    padding: 0.4rem 0.8rem;
    background-color: #e6e3e3;

}

header div i {
    color: #757575;
}

header div input {
    width: 200px;
    margin-left: 6px;
    border: none;
    background-color: #e6e3e3;
    color: #757575;
}

header h1 {
    text-transform: uppercase;
    text-align: center;
}

header h1 span {
    font-weight: 100;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav * {
    margin-right: 1rem;
}

nav button:first-child {
    background-color: rgb(179, 38, 38);
    color: #fff;
}

nav button:last-child {
    background-color: #a7a7a7;
}

button {
    font-family: var(--headingFont);
    padding: 6px 15px;
    border-radius: 25px;
    border: none;
}

nav i {
    border-radius: 50px;
    padding: 0 5px;
    border: 1px solid #a7a7a7;
}

header div:last-child {
    grid-column: 1/-1;
    height: 0.5px;
    background-color: #dadada;

}

/* article */
article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1rem;
}

article * {
    grid-column: 2/3;
    text-align: center;
}

article h2 {
    font-weight: 400;
}

article .vegan {
    text-transform: uppercase;
    font-family: var(--headingFont);
    color: #a7a7a7;
    font-size: 0.8rem;
    margin-bottom: 2rem;
}

.divider {
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    padding: 0 3rem;
}

article section:first-of-type {
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
}

article section div em {
    font-size: 2rem;
    font-family: var(--headingFont);
    font-style: normal;
}

section div img {
    width: 3.5rem;
}

section div p:last-child:not(img+p) {
    font-weight: 100;
}

article section+div {
    height: 1px;
    background-color: #dadada;
    margin-top: 1.4rem;
}

article section:last-child div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

article section:last-child div:last-child {
    justify-content: start;
}

article h3 {
    font-size: 1rem;
}

article section div span {
    background-color: #e6e3e3;
    color: #757575;
    padding: 4px 8px;
    border-radius: 25px;
    font-family: var(--headingFont);
    font-size: 0.8rem;
}

article ul {
    margin-top: -0.5rem;
}

article ul li {
    list-style: none;
    text-align: start;
    line-height: 1.5rem;
    font-weight: 200;
}

article ul li::first-letter,
article ul li span {
    font-weight: 400;
}

article button:last-child:not(aside+button) {
    background-color: rgb(179, 38, 38);
    color: #fff;
    margin-left: 0.6rem;
}

.btn-directions {
    border-radius: 25px;
    background-color: rgb(239, 239, 239);
    padding-left: 1rem;
}

.btn-directions button {
    padding-left: 5px;
}

aside * {
    width: 10px;
    height: 2px;
    background-color: black;
    margin: 2px 0;
}