* {
    box-sizing: border-box;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

header * {
    background-color: aqua;
}

header h1 {
    text-transform: uppercase;
}

header h1 span {
    font-weight: 100;
}

nav {
    display: flex;
    align-items: center;
}

nav * {
    margin-right: 1.8rem;
}

nav button:first-child {
    background-color: red;
}

button {
    padding: 5px 10px;
    border-radius: 25px;
}